# .circleci/config.yml
# https://goreleaser.com/ci/
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/gtalarico/pm
    # directory where steps are run. Path must conform to the Go Workspace requirements
    environment: # environment variables for the build itself
      TEST_RESULTS: /tmp/test-results # path to where test results will be saved
    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS # create the test results directory

      # Dependencies
      # Normally, this step would be in a custom primary image
      - run: go get github.com/pkg/errors

      # Run tests ...
      - run:
          name: Run test tests
          command: go test ./... -v
      # Release ...
      # - run: curl -sL https://git.io/goreleaser | bash
      # - run: curl -sL https://git.io/goreleaser | bash
workflows:
  version: 2
  release:
    jobs:
      - build:
        filters:
            branches:
              ignore: /.*/
      # - release:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*(-.*)*/
