version: 2

default-docker: &default-docker
  docker:
    - image: circleci/golang:1.10
  working_directory: /go/src/github.com/gtalarico/pm

default-restore: &default-restore
  restore_cache:
      keys:
        - go-pkgs

jobs:
  build:
    <<: *default-docker
    steps:
      - checkout
      - *default-restore
      - run: go get -t -v ./...
      - save_cache:
          key: go-pkgs
          paths:
            - /go/src/github.com/
  test:
    <<: *default-docker
    steps:
      - checkout
      - *default-restore
      - run: go get -t -v ./...
      - run: go test ./...

  lint:
    <<: *default-docker
    steps:
      - checkout
      - *default-restore
      - run: go get -t -v ./...

      # Install Linter
      - run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.13.1
      # https://github.com/golangci/golangci-lint/issues/250
      - run: sudo cp ./bin/golangci-lint $GOPATH/bin/
      - run: golangci-lint run ./...

  coverage:
    <<: *default-docker
    steps:
      - checkout
      - *default-restore
      - run: go get -t -v ./...
      - run: go get github.com/mattn/goveralls
      - run: go test ./... -cover -race -coverprofile=coverage.out
      - run: goveralls -coverprofile=coverage.out -service=circle-ci -repotoken=$COVERALLS_TOKEN

workflows:
  version: 2
  build-test-coverage-deploy:
    jobs:
      - build
      - test:
          requires:
              - build
      - lint:
          requires:
              - test
      - coverage:
          requires:
              - test
#       # Release ...
#       # - run: curl -sL https://git.io/goreleaser | bash
#       # - run: curl -sL https://git.io/goreleaser | bash
# # workflows:
# #   version: 2
# #   release:
# #     jobs:
# #       - build:
# #         filters:
# #             branches:
# #               ignore: /.*/
#       # - release:
#       #     filters:
#       #       branches:
#       #         ignore: /.*/
#       #       tags:
#       #         only: /v[0-9]+(\.[0-9]+)*(-.*)*/
